<!DOCTYPE HTML>
<html>
<head>
    <title>Slacklite</title>
</head>

<body>
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/word">Mot du directeur</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>


<p>Test passage de valeur {{offre}} </p>
<p>Présentation de l'entreprise</p>

<h2>A propos de nous  !</h2>

<p>Description de l'entreprise </p>

<footer>
    <p>Powered By Mustache © 2018 SlackLite</p>
</footer>

</body>

</html>