<!DOCTYPE HTML>
<html>
<head>
    <title>Slacklite</title>
</head>

<body>
<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/word">Mot du directeur</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

<h2>Connexion</h2>

<label>Email:</label>
<input type="email" placeholder="email">

<label>Password:</label>
<input type="password" placeholder="Password">



<footer >
    <p>Powered By Mustache © 2018 SlackLite</p>
</footer>

</body>

</html>