<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Slacklite{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <style>
        html, body {width: 800px; margin: auto;}
        p {text-align: center}
        li { list-style-type: none; }
        ul li{ display: inline; padding : 0 0.5em; font-size: larger; }
        ul {width : 650px;
            margin: 50px auto 50px auto;}
        a{ text-decoration: none; text-decoration-color: none; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        footer {width : 460px;  margin: 50px auto 50px auto;  font-size: larger;}
    </style>
    <nav>
        <ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/word">Mot du directeur</a></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/word">Mot du directeur</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    <footer>
        <p>Powered By Mustache With ♥ By SlackLite 2018 ©</p>
    </footer>

    </body>
</html>
